<%# <div class="jumbotron"> 
  <h1 class="display-3">HETIC-G1-08</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
</div> %>

<section class="yuumm-home">
  <div class="yuumm-home-wrapper">
    <h1>Cook it up for the homies.</h1>
    <p>Yuumm is the principle of sharing homemade dishes in a community. We offer a platform to connect amateur cooks and savvy gourmets in a community, to offer your colleagues, friends, classmates, your best recipes.</p>
    <a class="yuumm-arrow-link-light" href="<%= dishes_path %>">Discover the most popular dishes</a>
  </div>
</section>
