<h1 class='not-found-h1'>Internal servers <span>errors</span></h1>
<h2 class='not-found-h2'> We are experiencing some troubles</h2>
<h4><%= link_to 'Are you still hungry ?', build_date_url('week'), :class => "not-found-link" %>  </h4>

