<h1 class='not-found-h1'>404 <span>not found</span></h1>
<h2 class='not-found-h2'> It seems that you are sowewhere you should not be 🤭 </h2>
<h4><%= link_to 'Are you still hungry ?', build_date_url('week'), :class => "not-found-link" %>  </h4>

