<ol class="breadcrumb">
  <li class="breadcrumb-item">Dishes</li>
</ol>
<div class="mt-4">
  <h1>Available dishes</h1>
  <%= link_to '+ Add a dish', new_dish_path %>
  <div class="d-flex flex-row mt-5">
    <% @dishes.each do |dish| %>
      <div class="card p-4" style="width: 20rem;">
        <div class="card-block">
          <h4 class="card-title"><%= dish.name %></h4>
          <p class="card-text"><%= dish.description %></p>
          <a href="<%= dish_path(dish) %>" class="btn btn-primary">See details</a>
        </div>
      </div>
    <% end %>
  </div>
</div>