
<p>
    <strong>Nom du plat:</strong>
    <%= @dish.name %>
  </p>
   
  <p>
    <strong>Description:</strong>
    <%= @dish.description %>
  </p>

  <p>
    <strong>Nombre de portions disponibles:</strong>
    <%= @dish.portions %>
  </p>