/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= stub "active_admin"
 */

@import 'bootstrap';

// DEFAULT

html,
body {
  height: 100%;
  font-family: "Graphik";
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
}
body {
  display: flex;
  flex-direction: column;
}

.document {
  flex: 1 0 auto;
}

.footer {
  margin-top: 40px;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: $white;
}

.text-muted {
  color: $black !important;
}

// CUSTOM

.yuumm-header {
  height: 5.625rem;
  background-color: $white;
}

.navbar-brand {
  color: $black !important;
  font-weight: 500;
  text-transform: uppercase;
}

.yuumm-navbar > ul > li > a {
  color: $black !important;
  transition: all ease-out 200ms;

  &:hover {
    color: $green !important;
    transition: all ease-in 300ms;
  }
}

.yuumm-navbar-button {
  font-weight: 500;
  color: $black;
  line-height: 1;
  margin-left: 0.9375rem; 
  transition: all ease-out 200ms;

  &:hover {
    color: $green !important;
    transition: all ease-in 300ms;
    text-decoration: none;
  }
}

.yuumm-navbar-button-danger {
  @extend .yuumm-navbar-button;

  &:hover {
    color: $red !important;
    transition: all ease-in 300ms;
    text-decoration: none;
  }
}

.yuumm-navbar-status {
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 1.25rem;
  margin-right: 0.625rem;
}

.yuumm-navbar-status-loggedOut {
  @extend .yuumm-navbar-status;
  background-color: $red;
}

.yuumm-navbar-status-loggedIn {
  @extend .yuumm-navbar-status;
  background-color: $green;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  height: 4.375rem;
  border-top: 1px solid $black;
}
