@import 'variables';

// ARROW LINK

.yuumm-arrow-link {
  display: flex;
  font-size: 0.875rem;
  color: $white;
  letter-spacing: 0;
  line-height: 2rem;
  cursor: pointer;
  transition: all ease-out 200ms;

  &:before {
    content: '>';
    display: flex;
    justify-content: center;
    align-items: center;
    color: $black;
    width: 2.5rem;
    height: 1.875rem;
    background-color: $white;
    margin-right: 0.75rem;
    border-radius: 1.6875rem;
    transition: all ease-out 200ms;
  }
  
  &:hover {
    &:before {
      color: $white;
      background-color: $green;
      transition: all ease-in 300ms;
      text-decoration: none;
    }
    color: $white;
    text-decoration: none;
    transform: translateX(3px);
    transition: all ease-in 300ms;
  }
}

.yuumm-arrow-link-light {
  @extend .yuumm-arrow-link;
}

.yuumm-arrow-link-dark {
  @extend .yuumm-arrow-link;
  color: $black;

  &:before {
    color: $white;
    background-color: $black;
  }

  &:hover {
    color: $black;
  }
}

.yumm-link {
  @extend .yuumm-arrow-link-dark;
  &:before {
    display: none;
  }
  &:hover {
    color: $green;
    transform: translateX(0);
  }
}

// FORM

.yuumm-form {
  max-width: 34.375rem;
  height: auto;
  margin: 0 auto;
}

.yuumm-form .yuumm-form-intro {
  width: 100%;
  height: 11.25rem;
  margin-bottom: 1.25rem;
  padding: 2.8125rem 3.75rem 0;
  background-color: $green;

  h1 {
    width: 50%;
    font-size: 2.25rem;
    color: $white;
    letter-spacing: 0;
    line-height: 2.8125rem;
  }

  h2 {
    font-size: 1.5rem;
    color: $white;
    letter-spacing: 0;
    line-height: 1.8125rem;
  }

  p {
    width: 80%;
    font-size: 0.875rem;
    color: $white;
    letter-spacing: 0;
    line-height: 1.25rem;
  }
}

.yuumm-form input:not([type="submit"]),
.yuumm-form textarea {
  width: 100%;
  height: 1.5625rem;
  border: none;
  border-radius: 0;
  border-bottom: thin solid $green;
  transition: all ease-out 200ms;

  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px $white inset;
    -webkit-text-fill-color: $black;
  }

  &:focus {
    width: calc(100% - 5px);
    outline: none !important;
    box-shadow: 0 0 10px $white;
    border-bottom: thin solid $green;
    transform: translateX(5px);
    transition: all ease-in 300ms;
  }
}

.yuumm-form select {
  width: 100%;
  font-size: 0.875rem;
  border: thin solid $green;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background: transparent;
}

.yuumm-form input[type="submit"],
.yuumm-form div input[type="submit"] {
  @extend .yuumm-arrow-link-dark;
  border: none;
  margin: 1.875rem -0.625rem;
  font-size: 1rem;
  font-weight: 500;

  &:hover {
    color: $green;
    transform: translateX(0);
  }
}

.yuumm-form a {
  @extend .yuumm-arrow-link-dark;

  margin-bottom: -0.625rem;
}

.yuumm-form #error_explanation {
  h2 {
    font-size: 1.5rem;
    color: $red;
    letter-spacing: 0;
    line-height: 1.8125rem;
  }

  ul li {
    color: $red;
  }
}

.yuumm-form .has-error .help-block {
  color: $red;
}


.yuumm-breadcrumb {
  font-size: 1rem;
  color: $black;
  letter-spacing: 0;
  line-height: 20px;
}

