// Place all the styles related to the Dishes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';

.yuumm-btn-primary {
  background-color: $green;
  color: $black;
  &:hover {
    opacity: 0.75;
    color: $black;
  }
}

.yuumm-btn-outline-primary {
  border: 1px solid $green !important;
  color: $black;
  &:hover {
    background-color: $green;
    color: $black;
  }
}
