@import 'components';
@import 'variables';

.yumm-login {
  max-width: 34.375rem;
  height: auto;
  margin: 0 auto;
}

.yumm-login .yumm-login-intro {
  width: 100%;
  height: 11.25rem;
  margin-bottom: 1.25rem;
  padding: 2.8125rem 3.75rem 0;
  background-color: $green;

  h2 {
    font-size: 1.5rem;
    color: $white;
    letter-spacing: 0;
    line-height: 1.8125rem;
  }

  p {
    width: 80%;
    font-size: 0.875rem;
    color: $white;
    letter-spacing: 0;
    line-height: 1.25rem;
  }
}

.yumm-login input:not([type="submit"]) {
  width: 100%;
  height: 1.5625rem;
  border: none;
  border-radius: 0;
  border-bottom: thin solid $green;

  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px $white inset;
    -webkit-text-fill-color: $black;
  }
}

.yumm-login select {
  width: 100%;
  font-size: 0.875rem;
  border: thin solid $green;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background: transparent;
}

.yumm-login input[type="submit"],
.yumm-login div input[type="submit"] {
  @extend .yuumm-arrow-link-dark;
  border: none;
  margin: 1.875rem -0.625rem;
  font-size: 1rem;
  font-weight: 500;

  &:hover {
    color: $green;
    transform: translateX(0);
  }
}

.yumm-login a {
  @extend .yuumm-arrow-link-dark;

  margin-bottom: -0.625rem;
}

.yumm-login #error_explanation {
  h2 {
    font-size: 1.5rem;
    color: $red;
    letter-spacing: 0;
    line-height: 1.8125rem;
  }

  ul li {
    color: $red;
  }
}

.yumm-login .has-error .help-block {
  color: $red;
}
